.password-modal {
    width: 400px;
    height: 350px;
    background-color: #222222;
    border-radius: 20px;
}

.lock-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.header-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.status-text {
    color: #767676;
    font-size: 14px;
    font-weight: normal;
}

.status-text-error {
    color: rgba(216, 59, 59, .8);
    font-size: 14px;
    font-weight: normal;
}

#submit {
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #453BD8;
}

#submit:focus {
    outline: none;
}

#submit:hover {
    background-color: rgba(69,59,216, .9);
}

#submit:active {
    background-color: rgba(69,59,216, .8);
}
